#root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #7A7373;
}

.default-background {
    -fx-background-color: #544F4F;
}

.progress-bar > .track, .jfx-progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: #696969;
}

.progress-bar > .bar {
    -fx-background-color: #cb0303;
}

.login-field {
    -fx-background-color: #696969;
    -fx-prompt-text-fill: white;

}

.StackDisplay {

}

.sideBar {
    -fx-background-color: #544F4F;
 }

.topBar {
    -fx-background-color: #544F4F;
}

.topBar-Buttons {
	-fx-background-radius: 0;
    -fx-background-color: #544F4F;
}

.topBar-Buttons:hover {
	-fx-background-radius: 0;
	-fx-background-color: #776F6F;
}

#btnClose {
	-fx-background-radius: 0;
    -fx-background-color: #544F4F;
}

#btnClose:hover {
	-fx-background-color: #FF6044;
}

.sidebar-buttons {
    -fx-min-width: 70px;
    -fx-min-height: 70px;
    -fx-max-width: 70px;
    -fx-max-height: 70px;

    -fx-shape:"M 25, 50 a 25,25 0 1,1 50,0 a 25,25 0 1,1 -50,0";
    /* Due to JavaFX CSS limitations the image must be the same size to fit. Cannot resize with CSS and Shape.*/
    -fx-background-image: url("../IconPacks/pack1/SlightlyGalactic-default-70px.png");
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;

    -fx-text-fill: white;
    -fx-font-family: System;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-content-display: center;
    -fx-alignment: center;


    -fx-border-width: 2px;
    -fx-border-color: white;

    -jfx-button-type: RAISED;
}