#root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #7A7373;
}

.default-background {
    -fx-background-color: #544F4F;
}

.secondary-background {
    -fx-background-color: #474343;
}

.shouldnt-display-background {
    -fx-background-color: purple;
}

.progress-bar > .track, .jfx-progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: #696969;
}

.progress-bar > .bar {
    -fx-background-color: #cb0303;
}

.jfx-text-field {
    -fx-prompt-text-fill: #8d7474;
    -fx-text-fill: white;
}

.login-field {
    -fx-background-color: #696969;
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
}

.lbl-header {
    -fx-font-size: 20;
    -fx-text-fill: #ffffff;
}

.lbl-regular {
    -fx-font-size: 13;
    -fx-text-fill: white;
}

.tab-btn {
    -fx-font-size: 18;
    -fx-text-base-color: white;
}

.btn-regular {
    -fx-font-size: 105%;
    -fx-text-fill: white;
    -fx-border-color: rgba(24, 24, 24, 0.17);
    -fx-background-color: rgba(227, 0, 0, 0.1);
}

.btn-admin {
    -fx-font-size: 99%;
}

.btn-general {
    -fx-font-size: 100%;
}

.btn-power {
    -fx-font-size: 175%;
    -fx-text-fill: white;
    -fx-border-color: rgba(24, 24, 24, 0.17);
    -fx-background-color: rgba(14, 5, 5, 0.2);
}

.btn-power#shutdown {
    -fx-background-color: rgba(184, 0, 0, 0.5);
}

.topBar{}

.topBar-Buttons {
    -fx-background-radius: 0;
    -fx-background-color: #474343;
    -fx-alignment: CENTER;
}

.topBar-Buttons:hover {
    -fx-background-color: #776F6F;
}

#btnClose {
    -fx-background-radius: 0;
    -fx-alignment: CENTER;
    -fx-background-color: #474343;
}

#btnClose:hover {
    -fx-background-color: #FF6044;
}

.sidebar-buttons {
    -fx-min-width: 70px;
    -fx-min-height: 70px;
    -fx-max-width: 70px;
    -fx-max-height: 70px;

    -fx-shape:"M 25, 50 a 25,25 0 1,1 50,0 a 25,25 0 1,1 -50,0";
    /* Due to JavaFX CSS limitations the image must be the same size to fit. Cannot resize with CSS and Shape.*/
    -fx-background-image: url("../IconPacks/Pack1/SlightlyGalactic-default-70px.png");
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;

    -fx-text-fill: white;
    -fx-font-family: System;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-content-display: center;
    -fx-alignment: center;


    -fx-border-width: 2px;
    -fx-border-color: white;

    -jfx-button-type: RAISED;
}


.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;

}
.tab-pane .tab
{
    -fx-background-color: transparent;

}

.vboxChart#innerchart {
    -fx-background-color: transparent;
}

.chart-plot-background {
    -fx-background-color: #695f5f;
}

.chart-vertical-grid-lines {
    -fx-stroke: rgba(255, 0, 0, 0.5);
}
.chart-horizontal-grid-lines {
    -fx-stroke: rgba(255, 0, 0, 0.5);
}

.chart-legend {
    -fx-background-color: #583535;
}

.chart-legend-item {
    -fx-text-fill: #ffffff;
    -fx-background-color: #583535;
}

.axis {
    -fx-tick-label-fill: #ffffff;
    -fx-tick-length: 5;
}
.axis-label {
    -fx-text-fill: #ffffff;
}

.axis:left {
    -fx-border-color: transparent #0f0f0f transparent transparent;
}

.axis:bottom{
    -fx-border-color: #0f0f0f transparent transparent;
}

.table-view .column-header .label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 10px;
    -fx-font-family: Dialog;
    -fx-font-weight: bold;
    -fx-background-color: #695f5f;
    -fx-border-color: black;
}

.table-view .column-resize-line,
.tree-table-view .column-resize-line {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-background;
    -fx-padding: 0.0em 0.0416667em 0.0em 0.0416667em; /* 0 0.571429 0 0.571429 */
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Scroll Bar			                                                       *
 *                                                                             *
 ******************************************************************************/

.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: #544F4F;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: #474343;
    -fx-background-insets: 0.0;
    -fx-background-radius: 2em;
}

/* Up- and Down-Button Padding */
.scroll-bar:vertical > .increment-button, .scroll-bar:vertical > .decrement-button {
    -fx-padding: 5 2 5 2;
}

/* Left- and Right-Button Padding */
.scroll-bar:horizontal > .increment-button, .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 2 5 2 5;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: rgb(150.0, 150.0, 150.0);
}

/* Up Arrow */
.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-shape: "M298 426h428l-214 214z";
}

/* Down Arrow */
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-shape: "M298 598l214-214 214 214h-428z";
}

/* Right Arrow */
.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-shape: "M0 428l0 -428l214 214l-214 214z";
}

/* Left Arrow */
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-shape: "M214 0l0 428l-214 -214l214 -214z";
}

/*******************************************************************************
 *                                                                             *
 * Scroll Pane			                                                       *
 *                                                                             *
 ******************************************************************************/

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

/* Extra / Misc */

.tabless {
    -fx-tab-max-height: 0 ;
}
.tabless .tab-header-area {
    visibility: hidden;
}

.RAMTAlert {
    -fx-background-color: #544F4F;
}

.RAMTAlert > *.button-bar > *.container{
    -fx-background-color: #474343;
}

.RAMTAlert > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.RAMTAlert:header *.header-panel{
    -fx-background-color: #4c4747;
}

.RAMTAlert:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-text-fill: white;
}

.RAMTAlert .button{
    -fx-background-color: #a22222;
    -fx-text-fill:white;
    -fx-wrap-text: true;
    -fx-effect: dropshadow( three-pass-box, #4a0d0d, 10.0, 0.0, 0.0, 0.0);
    -fx-cursor:hand;
}

.dialog-pane .button:hover{
    -fx-background-color: #ff0000;
    -fx-text-fill: #e0e0e0;
    -fx-font-weight:bold;
}

.lbl-secure {}